@charset "utf-8";
/* CSS Document */

/** General settings **/

*, 
body, 
div, 
p, 
img, 
a, 
ul, 
li, 
h1, 
h2, 
h3, 
header, 
main, 
footer,
section,
article, 
aside, 
canvas, 
details, 
figcaption, 
figure, 
hgroup, 
menu, 
nav,
select,
option,
.container
 {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body,
header,
main,
footer,
section,
article, 
aside, 
canvas, 
details, 
figcaption, 
figure, 
hgroup, 
menu, 
nav,
ul,
li,
select,
option,
.filter-options,
.more-container,
.restaurant-cuisine-container,
.review-data-container,
#restaurant-container,
.restaurant-name-img-container,
ul#reviews-list,
.container {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    -webkit-flex-row: row wrap;
    flex-flow: row wrap;
    flex-wrap: wrap;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	position:relative;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.2em 0 0.2em;
}

#maincontent {
  background-color: #f3f3f3;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  padding: 1.2em;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 100%;
  background-color: #252831;
  text-align:center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  font-size: 0.8em;
  color: #fff;
  font-weight: 200;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

#breadcrumb {
    padding: 0.4em 0.6em 0.4em 1em;
    list-style: none;
    background-color: #eee;
    font-size: 1em;
    margin: 0;
    width: 100%;
    display: inline;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 0.2em;
    color: rgb(185, 183, 183);
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

#breadcrumb li:nth-child(2) {
  color: gray;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 62vh;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #3397DB;
  align-items: center;
  justify-content: space-evenly;
}

.filter-options h2 {
  color: white;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5;
  padding: 0.8em 0  0 0;
  width: 90%;
}

.filter-options select {
  background-color: white; 
  border: 0.1em solid white;
  font-family: Arial,sans-serif;
  font-size: 1.1em;
  line-height: 150%;
  height: 2.2em;
  letter-spacing: 0;
  margin: 0.8em 0 0.8em 0;
  padding: 0 0.4em;
  width: 90%;
}

select:focus {
  /* box-shadow: 0 0 0.1em 0.2em #f18200; */
  outline: 0.2em solid orange;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 1.5em 0 2em 0;
  text-align: center;
  justify-content: space-evenly;
}

#restaurants-list li {
  background-color: #fff;
  font-family: Arial,sans-serif;
  margin: 1em 0 1.5em 0;
  text-align: left;
  width: 90%;
  border-radius: 2em 0 2em 0;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: flex;
  margin: 0;
  max-height: 45vw;
  width: 100%;
  object-fit: cover;
  border-radius: 2em 0 0 0;
}

#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 1.1em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 1em 1em 0.8em 1em;
  text-transform: uppercase;
  width: 100%;
}

#restaurants-list p {
  margin: 0 1em 0 1em;
  font-size: 1em;
}

.more-container {
  justify-content: flex-end;
  padding: 0.8em 0 0 0;
  width: 100%;
}

#restaurants-list li a {
  background-color: #ffa500;
  color: #fff;
  display: flex;
  font-size: 1em;
  margin: 1em 0 0;
  padding: 0.6em 2.2em;
  text-decoration: none;
  text-transform: uppercase;
  justify-content: center;
  align-self: flex-end;
  border-radius: 0 0 2em 0;
}
#restaurants-list li a:hover {
  background-color: #f18200;
  padding: 0.8em 2.1em 0.4em 2.3em;
  transition: ease-in-out, padding .35s ease-in-out;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 55vh;
  position: relative;
  z-index: 500;
  right: 0;
  top: 5em;
  width: 100%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.restaurant-name-img-container {
  width: 100%;
  justify-content: center;
}

#restaurant-name {
  color: white;
  font-family: Arial,sans-serif;
  font-size: 1.2em;
  font-weight: 200;
  letter-spacing: 0.2em;
  padding: 1em 1em 0.8em 1.8em;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.1;
  width: 90%;
  background-color:#f18200;
  border-radius: 2em 0 0 0;
  margin: 1.5em 0 0 0;
}

#restaurant-img {
  width: 90%;
  max-height: 55vh;
  object-fit: cover;
  border-radius: 0 0 2em 0
}

#restaurant-address {
  font-size: 1.2em;
  padding: 1.6em 0 0 0;
  width: 90%;
  text-align: center;
  color: #0275d8;
}

#restaurant-hours {
  padding: 0.6em 0 0 0;
  border-spacing: 1.2em 1.2em;
  max-width: 100%;
}

#restaurant-hours .time-day {
  line-height: 1.5;
  text-align: left;
  font-weight: 600;
}

#restaurant-hours td {
  color: #666;
  vertical-align: top;
}

.restaurant-cuisine-container {
  width: 90%;
  justify-content: flex-end;
}

#restaurant-cuisine {
  background-color: rgb(51, 51, 51);
  background-color: rgba(51, 51, 51, 0.8);
  color: #ddd;
  font-size: 1.1em;
  font-weight: 300;
  letter-spacing: 0.5em;
  padding: 0.4em 1.8em;
  text-align: right;
  text-transform: uppercase;
  margin: -2.3em 0 0 0;
  border-radius: 0 0 2em 0
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 5em 0 0.4em 0;
  width: 100%;
  justify-content: space-evenly;
}

#reviews-container {
  padding: 0.8em  0 1em 0;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 0.1em;
}

ul#reviews-list {
  margin: 0;
  padding: 1em 0 3em 0;
  justify-content: center;
}

#reviews-list li {
  background-color: #fff;
  list-style-type: none;
  margin: 0 0 2em 0;
  overflow: hidden;
  position: relative;
  width: 90%;
  border-radius: 2em 0 2em 0;
}

#reviews-list li p {
  margin: 0 0 10px;
  line-height: 1.5;
}

#reviews-list .review-data-container {
  width: 100%;
  padding: 1em 1.2em 0.2em 2em;
  background-color: #333;
}

#reviews-list .review-data-container p { 
  color: white;
}

#reviews-list p.review-name {
  width: 50%;
}

#reviews-list p.review-date {
  width: 50%;
  text-align: right;
}

#reviews-list p.review-rating {
  background-color: #f18200;
  padding: 0.4em 1.2em 0.4em 1.2em;
  margin: 1em 0 0 2em;
  color: white;
  border-radius: 0.2em;
}

#reviews-list p.review-comments {
  padding: 1.4em 1.6em 1.6em 1.6em;
  text-align: justify;
  width: 100%;
  margin:0;
}

#reviews-list li p.read-more {
  display: none;
}

@media all and (min-width: 550px) and (max-width: 899px){

  .inside #map-container {
    top: 5em;
  }

  .filter-options select {
    width: 42%;
  }

  #restaurants-list .restaurant-img {
    max-height: 42vw;
  }

  #restaurants-list li {
    width: 42vw;
  }

  #restaurants-list li a {
    width: 100%;
  }
}

@media all and (min-width: 650px) and (orientation: portrait) {
  
  #restaurant-img {
    max-height: 55vh;
  }

  .short-description {
    max-height: 30vh;

  }
}

@media all and (min-width: 650px) and (orientation: landscape) {
  
  #restaurant-img {
    max-height: 40vw;
  }

  #reviews-list p.review-comments {
    padding: 1em 1.6em 1.6em 1.6em;
  }

  .short-description {
    max-height: 65vh;
  }
}

@media all and (min-width:650px) {

  #restaurant-container {
    width: 100%;
    order: 10;
    padding: 6em 0 0.4em 0;
    justify-content: flex-start;
    align-items: center;
  }

  .restaurant-name-img-container{
    width: 45vw;
    margin: 0 0 0 4vw;
    order: 1;
    justify-content: flex-start;
  } 

  #restaurant-hours {
    width: 48vw;
    order: 20;
  } 

  #restaurant-address {
    order: 30;
    width: 100%;
    padding: 1.6em 0 1em 0
  }

  #reviews-container {
    order: 20;
    width: 100%;
  }

  ul#reviews-list {
    width:100%;
    align-items: flex-start; 
    justify-content: space-evenly;
  }

  #reviews-list li {
    width: 43%;
  /*  margin: 0 2vw 5vw 4vw; */
    position: relative;
    overflow: hidden;
    padding:  0 0 1em 0;
  }

  #reviews-list li p.read-more {
    cursor: pointer;
    display: flex;
    position: absolute;
    margin: 0;
    z-index: 1000;
    color: #f18200;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
    background: black;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.4em;
  }

  #reviews-list li p.read-more:hover{
    color: white;
  }

  #reviews-list .review-data-container, #reviews-list p.review-rating, #reviews-list li p {
    align-self: flex-start; 
    justify-content: flex-start;
    align-items: flex-start;  
  }

  .inside #map-container {
    position: relative;
    width: 100%;
    order: 1;
    height: 50vh;
    top: 5em;
  }
}


@media all and (min-width: 700px) and (orientation: portrait) {

  #restaurant-img {
    max-height: 35vw;
  }

  .short-description {
    max-height: 23vh;
  }
}

@media all and (min-width: 700px) and (orientation: landscape) {

  #restaurant-img {
    max-height: 35vw;
  }

  .short-description {
    max-height: 50vh;
  }
}

@media all and (min-width: 850px) and (max-width: 1023px) and (orientation: landscape) {

  #restaurant-img {
    max-height: 35vw;
  }

  .short-description {
    max-height: 45vh;
  }
}


@media all and (min-width: 900px) and (max-width: 1023px) and (orientation: portrait) {
  
  #restaurant-img {
    max-height: 30vh;
  }

  .short-description {
    max-height: 30vw;
  }
}



@media all and (min-width: 900px){

  .filter-options {
    justify-content: center;
  }

  .filter-options h2 {
    text-align: center;
    padding: 0.8em 0 0 0;
  }

  .filter-options select {
    width: 30%;
    margin: 0.8em 0.8em 0.8em 0.8em;
  }

  #restaurants-list .restaurant-img {
    max-height: 30vw;
  }

  #restaurants-list li {
    width: 30vw;
  }

  #restaurants-list li a {
    width: 100%;
  }

  #reviews-list li {
    width: 30%;
  }  
}


@media all and (min-width: 1024px) {
  .container {
    width: 1035px;
    margin-left: auto;
    margin-right: auto;
  }

  .inside #map-container {
    height: 450px;
  }

  #restaurants-list li {
    width: 30%;
  }
  #restaurants-list .restaurant-img {
    max-height: 200px;
  }

  .restaurant-name-img-container {
    width: 50%;
  }

  #restaurant-img {
    max-height: 300px;
  }

  #restaurant-hours {
    width: 40%;
  }
  .short-description {
    max-height: 230px;
  }
}